In [1]:
enames = ["Rahul" , "Aathi" , "Siva" , "Bala" ]
for ename in enames :
    print(ename)

Rahul
Aathi
Siva
Bala

In [ ]:
#Print 1 to 10
#Print 1 to 100
#Print 5 to 50
#Print 100 to 51

In [3]:
for x in range(1,11,1):
    print (x)

1
2
3
4
5
6
7
8
9
10

In [4]:
for x in range(1,101,1):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [8]:
for x in range (1,11) : 
    print(5 , "*" , x , "=" , 5*x)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
for x in range(100,50,-1):
    print(x)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51

In [15]:
#Print 1st 10 Even Numbers
for x in range(0,20,2):
    print(x,end="\t")

0	2	4	6	8	10	12	14	16	18

In [17]:
emp = {
    "ID" : 101,
    "NAME" : "Aathi",
    "SAL" : 75000
}

for key in emp:
    print(key)

ID
NAME
SAL

In [20]:
emp = {
    "ID" : 101,
    "NAME" : "Aathi",
    "SAL" : 75000
}

for key,value in emp.items():
    print(key,":",value)

ID : 101
NAME : Aathi
SAL : 75000