In [2]:
#Convert Upper Case To Lower Case Using Normal Function
def update(name) :
    return name.lower()
name = update('AATHITHYA')
print(name)

aathithya

In [3]:
#Convert Lower Case To Upper Case Using Normal Function
def update(name) :
    return name.upper()
name = update('aathithya')
print(name)

AATHITHYA

In [6]:
#Convert Upper Case To Lower Case Using Lambda Function
name = 'AATHITHYA'

update = lambda name: name.lower()
name = update(name)  
print(name)

aathithya

In [7]:
#Convert Lower Case To Upper Case Using Lambda Function
name = 'aathithya'

update = lambda name: name.upper()
name = update(name)  
print(name)

AATHITHYA

In [10]:
#Increase Individual Numbers Using Map In Normal Function
numbers = [10,20,30,40,50]

def addplus(num):
    return num + 1
map_obj = map(addplus,numbers)
new_numbers = list(map_obj)
print(numbers)
print(new_numbers)

[10, 20, 30, 40, 50]
[11, 21, 31, 41, 51]

In [11]:
#Increase Individual Numbers Using Map In Lambda Function
numbers = [10,20,30,40,50]

map_obj = map(lambda num : num + 1 , numbers)

new_numbers = list(map_obj)
print(numbers)
print(new_numbers)

[10, 20, 30, 40, 50]
[11, 21, 31, 41, 51]

In [14]:
#Convert Lower Case To Upper Using Map In Normal Function
enames = ['aathithya' , 'rahul' , 'siva balan' , 'dhinesh']

new_names = list(map(lambda enames : enames.upper(),enames))

print(enames)
print(new_names)

['aathithya', 'rahul', 'siva balan', 'dhinesh']
['AATHITHYA', 'RAHUL', 'SIVA BALAN', 'DHINESH']

In [15]:
product_price =  [1000,20,50,90,500,699,2999]

new_price = []

for price in product_price :
    if price < 1000 :
        new_price.append(price)
print(product_price)
print(new_price)

[1000, 20, 50, 90, 500, 699, 2999]
[20, 50, 90, 500, 699]

In [17]:
#Using Filter Method
product_price = [1000,20,50,90,500,699,2999]
def filter_Data(price):
    return price < 1000
new_prices = list(filter(filter_Data,product_price))
print(product_price)
print(new_prices)

[1000, 20, 50, 90, 500, 699, 2999]
[20, 50, 90, 500, 699]