In [3]:
t1 = ()
t2 = 10,
t3 = 10 , 20 , 30 , 40 , 50
t4 = (10,20,30,40,50)
t5 = tuple(range(10))

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))
print(type(t5))

()
(10,)
(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [4]:
enames = ("Rahul" , "Aathi" , "Siva" )

#Iterate Tuple Object Using For Loop And While Loop

#For Loop

for ename in enames :
    print(ename)

Rahul
Aathi
Siva

In [9]:
enames = ("Rahul" , "Aathi" , "Siva" )

#Iterate Tuple Object Using For Loop And While Loop

#While Loop
i=0
while i<=len(enames)-1:
    print(enames[i])
    i=i+1

Rahul
Aathi
Siva

In [10]:
enames = ("Rahul" , "Aathi" , "Siva" )

list(enames).sort()

print(enames)
print(type(enames))

('Rahul', 'Aathi', 'Siva')
<class 'tuple'>

In [11]:
enames = ("Rahul" , "Aathi" , "Siva" )

print(enames.index("Aathi"))

1

In [12]:
enames = ("Rahul" , "Aathi" , "Siva" )

print(enames.count("Aathi"))

1

In [13]:
t1 = (10,20,30,40,50)
t2=t1.copy()
print(t1)
print(t2)

AttributeError: 'tuple' object has no attribute 'copy'

In [14]:
t1 = (10,20,30,40,50)
t2=t1
print(t1)
print(t2)

(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50)

In [16]:
s1 = {}
print(type(s1))

#In Python, when you create an empty pair of curly braces {}, it is interpreted as an empty dictionary.

s2 = set()
print(type(s2))

<class 'dict'>
<class 'set'>