In [1]:
d1 = {}
print(d1)
print(type(d1))

{}
<class 'dict'>

In [9]:
emp = {
    'eid' : 101,
    'ename' :'Aathi',
    'sal' : 75000,
    'loc' : 'Cuddalore'
}
print(emp)

{'eid': 101, 'ename': 'Aathi', 'sal': 75000, 'loc': 'Cuddalore'}

In [11]:
emp = {
    'eid' : 101,
    'ename' : 'Aathi',
    'sal' : 75000,
    'loc' : 'Cuddalore'
}
print(emp.get('ename'))

Aathi

In [17]:
emp = {
    'eid' : 101,
    'ename' : 'Aathi',
    'sal' : 75000,
    'loc' : 'Cuddalore',
    'avail' : True
}
print(emp['ename'])
print(emp['eid'])
print(emp['sal'])
print(emp['loc'])
print(emp['avail'])

Aathi
101
75000
Cuddalore
True

In [18]:
emp = {
    'eid' : 101,
    'ename' : 'Aathi',
    'sal' : 75000,
    'loc' : 'Cuddalore',
    'avail' : True
}
print(emp.get('ename'))
print(emp.get('eid'))
print(emp.get('sal'))
print(emp.get('loc'))
print(emp.get('avail'))

Aathi
101
75000
Cuddalore
True

In [26]:
emp = {
    'eid' : 101,
    'ename' : 'Aathi',
    'sal' : 75000,
    'loc' : 'Cuddalore',
    'avail' : True
}
for key in emp.keys():
    print(key)

eid
ename
sal
loc
avail

In [24]:
emp = {
    'eid' : 101,
    'ename' : 'Aathi',
    'sal' : 75000,
    'loc' : 'Cuddalore',
    'avail' : True
}
for key in emp.values():
    print(key)

101
Aathi
75000
Cuddalore
True

In [2]:
emp = {
    'eid' : 101,
    'ename' : 'Aathi',
    'sal' : 75000,
    'loc' : 'Cuddalore',
    'avail' : True
}
for key,value in emp.items():
    print(key,':',value)

eid : 101
ename : Aathi
sal : 75000
loc : Cuddalore
avail : True